.navbar-brand {
    height: 70px;
    position: relative;
    font-size: 250%;
    font-weight: normal;
    font-family: PMingLiU , "Noto Sans CJK TC", "Microsoft JhengHei", serif;
    letter-spacing: 0.5cm;
}

.content-box{
    margin-top: 4cm;
    text-align: center;
    /* background-color: gray; */
}

.h4{
    font-size: 200%;
    font-weight: normal;
}
.container{
    
    /* 水平置中 */
    justify-content: center; 
    margin-top: 2cm;
    /* margin-left: 6cm;  */
    /* background-color: red; */
    max-width: fit-content;
} 

.row {
    margin-top: 10px;
}

.btn {
    padding: 14px 40px;
    width: 200px;
}
