.navbar-brand {
    height: 100px;
    position: relative;
    font-size: 400%;
    font-weight: normal;
    font-family: PMingLiU , "Noto Sans CJK TC", "Microsoft JhengHei", serif;
    letter-spacing: 0.5cm;
}